---
import Base from "../../layouts/Base.astro";
import { getCollection } from "astro:content";
import { MarkdownInstance } from "astro";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((p) => ({ params: { slug: p.data.slug }, props: { entry: p } }));
}

const { entry } = Astro.props as { entry: MarkdownInstance<Record<string, any>> };
const { Content } = await entry.render();
const fm = entry.data;
---
<Base title={fm.title} description={fm.description}>
  <article>
    <h1>{fm.title}</h1>
    {fm.tags?.map(t => <a class="tag" href={`/tags/${encodeURIComponent(t)}/`}>{t}</a>)}
    <Content />
  </article>
</Base>

